@import '../../variables.scss';

.automation-card {
    @include ui-card;
    @include flex;
    justify-content: flex-start;
    align-items: center;
    
    &-icon {
        padding-left: 4px;
        width: 32px;
    }

    &-name {
        text-align: left;
        text-indent: 20px;
        flex-grow: 1;
        font-size: 16px;
    }

    &-value {
        padding-right: 4px;
        font-size: 16px;
    }

    &-button {
        > * {
            font-size: 16px !important;
            color: white !important;
        }
    }
}