@import '../../variables.scss';

.seed-card {
    @include ui-card;
    display: grid !important;
    align-items: center !important;
    
    &:hover {
        cursor: pointer;

        &:active {
            background-color: rgba(black, 0.8) !important;
        }
    }
}

.farm-cell {
    @include ui-card;
    @include flex-cols;

    width: 100%;
    justify-content: center;

    &-name {
        font-size: 18px !important;

        &.hover-effect {
            height: 100%;

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }

    &-progress {

    }
    
    &-buttons {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;

        > * {
            width: 50% !important;
            font-size: 12px !important;
        }
    }
}