@import '../../variables.scss';

.gathering-module {
    @include ui-card;
    height: min-content;
}

.seed-card {
    @include ui-card($active-state: "true");
    display: grid !important;
    align-items: center !important;
    
    &:hover {
        cursor: pointer;

        &:active {
            background-color: rgba(black, 0.8) !important;
        }
    }
}

.farm-cell {
    @include ui-card($active-state: "true");
    @include flex($direction: column);

    width: 100%;
    justify-content: center;

    &-name {
        font-size: 18px !important;
    }

    &-progress {

    }
    
    &-buttons {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;

        > * {
            width: 50% !important;
            font-size: 12px !important;
        }
    }
}