.content-main {  height: 768px;}

.content-grid {
    justify-content: flex-start;
    align-content: flex-start;
}

/* Background Stuff? */

#content {
    background-image: url('../../assets/bg-gathering.png');
    background-position: center;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    max-height: 100%;
}

#content.home {background-image: url('../../assets/bg-home.png');}
#content.inventory {background: linear-gradient(153deg, rgb(255, 244, 171) 0%, rgb(206, 163, 97) 100%);}
#content.pets {background-image: url('../../assets/bg-pets.png');}
#content.fishing {background-image: url('../../assets/bg-fishing.png');}
#content.gathering {background-image: url('../../assets/bg-gathering.png');}
#content.adventure {background-image: url('../../assets/bg-adventure.png');}
#content.queen {background-image: url('../../assets/bg-queen.png');}
#content.help {background: linear-gradient(153deg, rgba(171,235,255,1) 0%, rgba(148,175,255,1) 100%);}

.no-flex {display: block !important;}