@import '../../variables.scss';

.milestone-tracker {
    @include ui-card-dark;
    width: 100%;
    padding: 4px 16px;
}

.milestone-card {
    @include ui-card-dark;
    display: flex;
    flex-direction: row;
    padding: 8px;

    &-number {
        text-align: left;
        flex-basis: 20%;
        color: hsl(0deg, 100%, 90%);
        text-indent: 23px;

        svg {
            color: hsl(0deg, 100%, 70%);
            scale: 1.5;
            position: relative;
            left: -20px;
        }
    }

    &-sacrifice {
        text-align: left;
        flex-basis: 20%;
        color: hsl(222, 100%, 90%);
        text-indent: 5px;

        svg {
            color: hsl(222, 100%, 80%);
            scale: 1.3;
            position:relative;
            left: -15px;
        }
    }
    
    &-bonus {
        flex-grow: 1;
        text-align: right;
        overflow-x: auto;
    }
}

.aspect-card {
    @include ui-card-dark;
    @include flex-rows;
    justify-content: flex-start;
    padding-left: 1px;
    border-radius: 4px;
    align-items: center;

    > * {
        text-align: center;
        font-size: 14px;
        min-width: 66px;
        max-width: 150px;
    }

    &-icon {
        min-width: unset;
        max-width: unset;
    }

    &-name {
        flex-grow: 1;
        border-left: 1px solid rgba(white, 0.25);
    }

    &-amount {
        border-left: 1px solid rgba(white, 0.25);
    }

    &-effect {
        max-width: unset;

        flex-grow: 1;
        border-left: 1px solid rgba(white, 0.25);
    
        font-size: 16px;
        white-space: break;
    }
}
