.picker-dialog, .basic-dialog, .journal-dialog {
    z-index: 11000 !important;
}

.MuiDialog-container {
    z-index: 11000 !important;
    > .MuiPaper-root {
        z-index: 11000 !important;
        padding: 16px;
        min-width: 600px;
        max-width: 100%;
    }
}

.basic-dialog *, .picker-dialog *, .journal-dialog * {
    white-space: break-spaces;
}

#journal-content {
    button {
        width: 100%;
    }
}

.dialog-text {
    text-align: center;
}

.dialog-content {
    padding: 16px;
    width: 100%;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
    gap: 48px;
}

.sacrifice-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    border: 1px solid rgba(white, 0.25);

    &-icon {
        color: #33adff;
    }

    &-name {
        flex-grow: 1;
        padding-left: 4px;
        white-space: nowrap;
    }

    &-aspects {
        flex-grow: 1;
        max-width: 45%;
        font-size: 12px;
        padding-left: 4px;
        padding-right: 10px;

        .aspect-card {
        }

        .unicode > .character {
            font-size: 24px !important;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;

        > * {
           font-size: 16px !important; 
        }
    }
}

.fishing-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    border: 1px solid rgba(white, 0.25);

    &-icon {
        color: #00ffaa;
    }

    &-name {
        flex-grow: 1;
        padding-left: 4px;
        white-space: nowrap;
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;

        > * {
           font-size: 16px !important; 
        }
    }
}

.selector-card {
    border: 1px solid rgba(white, 0.25) !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    display: flex;
    padding-left: 1px;
    justify-content: flex-start;
    border-radius: 4px;
    align-items: center;

    > * {
        text-align: center;
        font-size: 14px;
        min-width: 66px;
        max-width: 150px;
    }

    &-icon {
        min-width: unset;
        max-width: unset;
    }

    &-name {
        border-left: 1px solid rgba(white, 0.25);
    }

    &-amount {
        border-left: 1px solid rgba(white, 0.25);
    }

    &-effect {
        max-width: unset;

        flex-grow: 1;
        border-left: 1px solid rgba(white, 0.25);
    
        font-size: 16px;
        white-space: break;
    }
}