

.picker-dialog {
    .MuiDialog-container {
        .MuiPaper-root {
            top: -200px;
            padding: 16px;
            min-width: 600px;
            max-width: 1200px;
        }
    }
}

.basic-dialog {
    .MuiDialog-container {
        .MuiPaper-root {
            top: -100px;
            padding: 32px;
            min-width: 600px;
            max-width: 1200px;
        }
    }
}

.basic-dialog *, .picker-dialog * {
    white-space: break-spaces;
}

.dialog-text {
    text-align: center;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
    gap: 48px;
}