@import '../../variables.scss';

.picker-dialog, .basic-dialog, .journal-dialog {
    z-index: 11000 !important;
}

.MuiDialog-container {
    z-index: 11000 !important;
    > .MuiPaper-root {
        @include ui-card;

        backdrop-filter: blur(12px);
        z-index: 11000 !important;
        padding: 16px;
        min-width: 600px;
        max-width: 100%;
    }
}

.basic-dialog *, .picker-dialog *, .journal-dialog * {
    white-space: break-spaces;
}

.MuiTypography-root {
    filter: drop-shadow(0 0 6px black);
}

#journal-content {
    button {
        width: 100%;
    }
}

.dialog-text {
    text-align: center;
}

.dialog-content {
    padding: 16px;
    width: 100%;
}

.dialog-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 12px;
    gap: 48px;

    > button {
        min-width: 200px;
    }
}

.sacrifice-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    border: 1px solid rgba(white, 0.25);

    &-icon {
        color: #33adff;
    }

    &-name {
        flex-grow: 1;
        padding-left: 4px;
        white-space: nowrap;
    }

    &-aspects {
        flex-grow: 1;
        max-width: 45%;
        font-size: 12px;
        padding-left: 4px;
        padding-right: 10px;

        .aspect-card {
        }

        .unicode > .character {
            font-size: 24px !important;
        }
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;

        > * {
           font-size: 16px !important; 
        }
    }
}