.flexlist {
    display: flex;
    width: 100%;
    padding-top: 1px;
    border-radius: 4px;

    &-header {
        position: sticky;
        top: 0px;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-basis: calc(100% - 2px);
        width: calc(100% - 2px);
        text-align: left;
        text-indent: 8px;
        margin: 1px 1px;
        white-space: nowrap;
    
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 4px !important;
    }

    &-wrapper {
        padding-top: 1px;
        width: calc(100% - 1px);
        transition: height 0.5s ease;
        border-radius: 4px !important;
    }

    &-list {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 4px;
    
        > * {
            flex-basis: calc(100% - 2px);
            width: calc(100% - 2px);
            border-radius: 4px;
            margin: 0px 1px;
            height: auto;
        }
    }

    &-flex {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4px;
    
        > * {
            width: calc(50% - 2px);
            margin: 0 1px;
        }
    }

    &-tabs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 2px;
    }
}