@import '../../variables.scss';

.flexlist {
    display: flex;
    width: 100%;
    padding-top: 1px;
    border-radius: 4px;

    &-header {
        @include ui-card-dark($active-state: "true");
        @include flex;
        justify-content: flex-start;
        align-items: center;
        flex-basis: calc(100% - 2px);
        width: calc(100% - 2px);
        text-indent: 8px;
        font-size: 16px;
        margin: 1px 1px;
        white-space: nowrap;

        &-text {
            flex-grow: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                color: rgb(255, 255, 255);
                filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.66));
            }

            > svg {
                height: 40px !important;
                width: 40px !important;
                flex-basis: 40px;
                scale: 0.8;
                position: relative;
                left: -1px;
            }
        }
    }

    &-wrapper {
        padding-top: 1px;
        width: calc(100% - 1px);
        transition: height 0.5s ease;
        border-radius: 4px !important;
    }

    &-list {
        @include flex($direction: column);
        flex-wrap: nowrap;
        gap: 2px;
    
        > * {
            flex-basis: calc(100% - 2px);
            width: calc(100% - 2px);
            border-radius: 4px;
            height: auto;
        }
    }

    &-flex {
        @include flex;
        flex-wrap: wrap;
        gap: 2px;
    
        > * {
            width: calc(50% - 2px);
            flex-grow: 1;
        }
    }

    &-compact {
        @include flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1px;
        padding: 2px;
    
        > * {
            width: min-content;
        }
    }

    &-tabs {
        @include ui-card-dark($active-state: "true");
        @include flex;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 2px;

        > * {
            flex-grow: 1;
            font-size: 18px !important;
        }
    }
}