.flexlist {
    display: flex;
    width: 100%;
    padding-top: 1px;
    border-radius: 4px;

    &-header {
        position: sticky;
        top: 0px;
        z-index: 100;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-basis: calc(100% - 2px);
        width: calc(100% - 2px);
        text-align: left;
        text-indent: 8px;
        margin: 1px 1px;
        white-space: nowrap;

        color: rgb(215, 215, 215);
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
    
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 4px !important;
        background-color: rgba(0, 0, 0, 0.3) !important;

        &:hover {
            background-color: rgba(0, 0, 0, 0.2) !important;
        }

        &-text {
            &:hover {
                color: rgb(255, 255, 255);
                filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.66));
            }

            > svg {
                height: 40px !important;
                width: 40px !important;
                flex-basis: 40px;
                scale: 0.8;
                position: relative;
                left: -1px;
            }
        }
    }

    &-wrapper {
        padding-top: 1px;
        width: calc(100% - 1px);
        transition: height 0.5s ease;
        border-radius: 4px !important;

        background-color: rgba(0, 0, 0, 0.2);
    }

    &-list {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 2px;
    
        > * {
            flex-basis: calc(100% - 2px);
            width: calc(100% - 2px);
            border-radius: 4px;
            height: auto;
        }
    }

    &-flex {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;
    
        > * {
            width: calc(50% - 2px);
            flex-grow: 1;
        }
    }

    &-compact {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1px;
        padding: 2px;
    
        > * {
            width: min-content;
        }
    }

    &-tabs {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 2px;

        background-color: rgba(0, 0, 0, 0.2) !important;

        > * {
            flex-grow: 1;
            font-size: 18px !important;
        }
    }
}