button.actionbutton[disabled] {
    color: rgb(45, 45, 45);
    border-radius: 0;
    border: rgba(255, 255, 255, 0.4) !important;
    outline: rgba(255, 255, 255, 0.4) !important;
    padding: 4px 6px;
    margin: 2px 1px;
    font-size: 22px;
    line-height: 1;
}

button.actionbutton:not([disabled]) {
    border-radius: 0;
    padding: 4px 6px;
    margin: 2px 1px;
    font-size: 22px;
    line-height: 1;
}