#sidebar {
    width: 100px;
    height: 100vh;
    font-size: 12px;
    line-height: 36px;
    padding: 0;
    
    background-image: url('../assets/bg-fishing.png');

    color: white;

    text-align: center;
    
    transition: width 0.25s ease, font-size 0.25s ease, line-height 0.25s ease, opacity 0.25s ease;
}

#sidebar.expanded{
    width: 300px;
    font-size: 18px;
    line-height: 36px;

    opacity: 1;

    transition: width 0.25s ease, font-size 0.25s ease, line-height 0.25s ease, opacity 0.25s ease;
}

.sidebar-header {
    backdrop-filter: brightness(50%) grayscale(66%);

    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    padding: 10px;
    white-space: nowrap;
    background: rgb(34,193,195);
    background: linear-gradient(160deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: font-size 0.25s ease, backdrop-filter 0.25s ease;
}
#sidebar.expanded > .sidebar-header {
    backdrop-filter: brightness(75%) grayscale(66%);
    font-size: 40px;
    transition: font-size 0.25s ease, backdrop-filter 0.25s ease;
}

.sidebar-items-container {
    backdrop-filter: brightness(50%) grayscale(66%);

    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);

    transition: backdrop-filter 0.25s ease;
}
#sidebar.expanded > .sidebar-items-container {
    backdrop-filter: brightness(75%) grayscale(66%);

    transition: backdrop-filter 0.25s ease;
}

.sidebar-item {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 40px;
    margin: 2px 0px;
    white-space: nowrap;
    
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    
    clip-path: polygon(calc(100% - 30px) 0%, 100% 50%, calc(100% - 30px) 100%, 0 100%, 0 0);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    cursor: pointer;

    transition: left 0.25s ease;
}
.sidebar-item:hover {
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);

    transition: left 0.25s ease;
}

.sidebar-item--text {
    flex-grow: 1;
    padding-right: 12px;
}
.sidebar-item:hover > .sidebar-item--text {
    filter: drop-shadow(0 0 5px black)
}

.sidebar-item--image {
    scale: 1.1;
    display: flex;
    padding-left: 2px;

    transition: scale 0.25s ease, color 0.25s ease;
}
.sidebar-item:hover > .sidebar-item--image {
    padding-left: 6px;
    scale: 1.3;
    filter: drop-shadow(0 0 3px black);

    transition: scale 0.25s ease, color 0.25s ease, padding 0.25s ease;
}

.sidebar-folder {
    height: 0px;
    width: 65px;
    text-align: left;
    border-bottom: 1px dashed rgb(195, 195, 195);
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.sidebar-folder-toggle {
    position: relative;
    top: calc(100% - 26px);
    
    padding-left: 4px;

    font-size: 16px;
    color: rgb(195, 195, 195);
    display: flex;
    align-items: center;
}

.sidebar-folder-toggle > div {
    padding-left: 4px;
}

.sidebar-folder-eye {
    position: relative;
    font-size: 16px !important;
}

.sidebar-footer {
    line-height: 20px;
    font-size: 15px;
    text-align: left;
    text-indent: 2px;
}