@import '../variables.scss';

$height-top : 90px;
$height-bottom: 45px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;

    scrollbar-width: thin;

    animation-duration: 60s;
    animation-name: rainbowScrollbar;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

html, #root, #wrapper {
    background-color: rgb(43, 43, 43);
}

input, button, textarea, select {font: inherit;}

*, 
button, 
.font-regular {
    font-family: $fontface-regular;
}

h1, h2, h3, h4, h5, h6, 
.sidebar-header, 
.weather-clock-current-time, 
.font-special {
    font-family: $fontface-special;
}

.sidebar-folder-toggle > div, 
.weather-clock-current-weather, 
.font-tooltips {
    font-family: $fontface-mono;
}

a {text-decoration: none; color: white;}
  
:root {
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: white;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@keyframes rainbowScrollbar {
    0%      {scrollbar-color: hsl(0deg, 100%, 50%) transparent;}
    12.5%   {scrollbar-color: hsl(45deg, 100%, 50%) transparent;}
    25%     {scrollbar-color: hsl(90deg, 100%, 50%) transparent;}
    37.5%   {scrollbar-color: hsl(135deg, 100%, 50%) transparent;}
    50%     {scrollbar-color: hsl(180deg, 100%, 50%) transparent;}
    62.5%   {scrollbar-color: hsl(225deg, 100%, 50%) transparent;}
    75%     {scrollbar-color: hsl(270deg, 100%, 50%) transparent;}
    87.5%   {scrollbar-color: hsl(315deg, 100%, 50%) transparent;}
    100%    {scrollbar-color: hsl(360deg, 100%, 50%) transparent;}
}

.flex-grow {
    flex-grow: 1;
}

#root {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    transition: opacity 0.25s ease;
}

#content {
    width: 100%;
    height: 100vh;
    font-size: 24px;

    color: white;

    padding: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    #content-top, #content-bottom {
        width: 100%;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        #content-bottom-left, #content-bottom-center, #content-bottom-right,
        #content-top-left, #content-top-center, #content-top-right {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
        }

        #content-bottom-left {justify-content: flex-start;}
        #content-bottom-center {justify-content: center;}
        #content-bottom-right {justify-content: flex-end;}
    }

    #content-top {
        height: $height-top;
    }

    #content-bottom {
        height: $height-bottom;
    }
}

.content-row-item {
    align-items: center;
    display: grid;

    padding: 0px 4px;
    margin: 0px 6px;
    height: 100%;
    min-width: 64px;

    .content-row-item:first-child {margin-left: 0px; padding-left: 0px;}
    .content-row-item:last-child {margin-right: 0px; padding-right: 0px;}
}

#content-top > * > *, #content-bottom > * > * {
    height: 100%;
    min-width: 0px;

    padding: 0px;

    align-items: center;
    display: grid;
}

#content-main {
    width: 100%;

    padding: 4px 0px;
    height: calc(calc(100vh - $height-bottom) - $height-top)
}

.content-grid {
    width: 100%;
    height: 100%;
}

.content-main {  height: 768px;}

.content-grid {
    justify-content: flex-start;
    align-content: flex-start;
}

/* Background Stuff? */

$transparent : rgba(black, .85);

#content.home {background: $transparent url('../assets/bg-home.png');}
#content.inventory {background: $transparent linear-gradient(153deg, rgb(255, 244, 171) 0%, rgb(206, 163, 97) 100%);}
#content.pets {background: $transparent url('../assets/bg-pets.png');}
#content.fishing {background: $transparent url('../assets/bg-fishing.png');}
#content.gathering {background: $transparent url('../assets/bg-gathering.png');}
#content.adventure {background: $transparent url('../assets/bg-adventure.png');}
#content.queen {background: $transparent url('../assets/bg-queen.png');}
#content.help {background: $transparent linear-gradient(153deg, rgba(171,235,255,1) 0%, rgba(148,175,255,1) 100%);}

#content {
    background-position: center !important;
    background-origin: border-box !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    max-width: 100%;
    max-height: 100%;
}

#content.darkmode {
    background-blend-mode: darken !important;
}

.no-flex {display: block !important;}

.svg-flag-wrapper {
    font-size: 0;

    svg {
        height: 32px;
        width: 32px;
        clip-path: circle(16px);
    }
}

.unicode {
    aspect-ratio: 1 !important;
    height: 36px;
    display: grid;
    align-items: center;
}

.character {
    position: relative;
}

.truncate-text {
    padding: 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fade-in {
    opacity: 1 !important;
}

.fade-out {
    opacity: 0 !important;
}


.linear-progress-with-label {
    .linear-progress {}
    .linear-progress-label {
        opacity: 0.8;
        position: relative;
        top: -100%;
        line-height: 1.8;
    }
}

*[data-title]::before,
*[data-title]::after {
    --scale: 0;

    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    transform: translate(0, 0) scale(var(--scale));
    transform-origin: top left;
}

*[data-title]::before {
    @include ui-card-dark;
    font-size: 12px;
    white-space: nowrap;
    content: attr(data-title);
    transition: background-color 0.15s ease, border 0.15s ease, transform 1s ease, padding 1s ease !important;
}

*[data-title]:hover::before {
    --scale: 1;
}

#tooltip {
    @include ui-card;
    z-index: 10000;
    max-width: 250px;
    backdrop-filter: blur(6px);
    position: absolute;
    top: 14px;
    right: 215px;
    transform: translate(-50%, 0);

    opacity: 0.05;

    > .tooltip-header {
        text-align: center;
        font-size: 18px;
    }

    > .tooltip-text {
        text-align: center;
        font-size: 13px;
    }

    > .tooltip-footer {
        text-align: left;
        font-size: 12px;
    }
}