@import '../../variables.scss';

.mobile-sidebar-button {
    position: absolute;
    display: grid;
    justify-items: center;
    align-content: center;
    bottom: 4px;
    left: 4px;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: rgb(194, 194, 194);
    border: 1px solid white;
    
    cursor: pointer;
    z-index: 150;

    transition: background-color 0.25s ease;

    &:hover {
        background-color: rgb(229, 229, 229);
    }

    svg {
        scale: 1.5;
    }
}

#sidebar {
    width: 100px;
    height: 100vh;
    font-size: 12px;
    line-height: 36px;
    padding: 0;
    z-index: 10000;

    opacity: 0;
    
    background-image: url('../../assets/statue.png');
    background-position: left;
    background-origin: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    color: white;

    text-align: center;
    
    transition: width 0.25s ease, font-size 0.25s ease, line-height 0.25s ease, left 0.1s ease, opacity 0.25s ease;

    &.expanded{
        width: 300px;
        font-size: 18px;
        line-height: 36px;
    
        opacity: 1;

        .sidebar-header {
            backdrop-filter: brightness(75%) grayscale(66%);
            font-size: 40px;
            transition: font-size 0.25s ease, backdrop-filter 0.25s ease;
        }

        .sidebar-items-container {
            backdrop-filter: brightness(75%) grayscale(66%);
        
            transition: backdrop-filter 0.25s ease;
        }
    }

    &.mobile {
        position: absolute !important;
        left: -100vw !important;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        .sidebar-item {
            width: calc(100% - 2px);
            clip-path: none;
            transition: none;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            left: 0;

            &:not(.disabled):hover {
                border-right: 1px solid rgba(255, 255, 255, 0.5);
            }
        }

        &.visible {
            left: 0 !important;
        }
    }

    .sidebar-header {
        white-space: nowrap;
        backdrop-filter: brightness(50%) grayscale(66%);
    
        width: 100%;
        height: 80px;
        line-height: 80px;
        font-size: 30px;
        padding: 10px;
        background: rgb(34,193,195);
        background: linear-gradient(160deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: font-size 0.25s ease, backdrop-filter 0.25s ease;
    }

    .sidebar-items-container {
        backdrop-filter: brightness(50%) grayscale(66%);
    
        display: flex;
        flex-direction: column;
        height: calc(100% - 80px);
    
        transition: backdrop-filter 0.25s ease;
    }
}

.sidebar-items-top {order: 0;}
.sidebar-items-center {order: 1; flex-grow: 1; overflow-y: auto; overflow-x: hidden}
.sidebar-items-bottom {order: 2;}

.sidebar-item {
    position: relative;
    top: 0;
    left: 1px;
    white-space: nowrap;

    width: 100%;
    height: 40px;
    margin: 2px 0px;
    
    background-color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    
    clip-path: polygon(calc(100% - 30px) 0%, 100% 50%, calc(100% - 30px) 100%, 0 100%, 0 0);
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    cursor: pointer;

    transition: left 0.25s ease;

    &:not(.disabled):hover {
        left: 11px;
        background-color: rgba(0, 0, 0, 0.5);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    
        transition: left 0.25s ease;

        .sidebar-item-text {
            filter: drop-shadow(0 0 5px black);
        }

        .sidebar-item-image {
            padding-left: 5px;
            filter: drop-shadow(0 0 3px black);
            scale: 1.3;
        
            transition: scale 0.25s ease, color 0.25s ease, padding 0.25s ease;
        }
    }

    &.disabled {
        height: 22px;
        pointer-events: none !important;
        clip-path: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(0, 0, 0, 0.5) !important;

        .sidebar-item-text {
            filter: none !important;
            color: rgba(255, 255, 255, 0.225) !important;
        }

        .sidebar-item-image {
            padding-left: 0px !important;
            scale: 1 !important;
            filter: none !important;
        }
    }

    &-text {
        flex-grow: 1;
        padding-right: 12px;
    }

    &-image {
        scale: 1.1;
        display: flex;
        padding-left: 2px;
    
        transition: scale 0.25s ease, color 0.25s ease;
    }
}

.sidebar-folder {
    height: 0px;
    width: 65px;
    text-align: left;
    border-bottom: 1px dashed rgb(195, 195, 195);
    margin-left: 0px !important;
    margin-right: 0px !important;

    &-toggle {
        position: relative;
        top: calc(100% - 26px);
        
        padding-left: 4px;
    
        font-size: 16px;
        color: rgb(195, 195, 195);
        display: flex;
        align-items: center;

        div {
            padding-left: 4px;
        }
    }

    &-icon {
        position: relative;
        font-size: 16px !important;
    }
}

.sidebar-footer {
    line-height: 20px;
    font-size: 15px;
    text-align: left;
    text-indent: 2px;
}