.resource-collection-card-wrapper, .resource-card {
    background-color: rgba(0, 0, 0, 0.1) !important;
    height: auto;
}

.resource-collection-card-wrapper {
    width: 100%;
}

.resource-card {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    > * {
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.66));
    }

    &.collection {
        margin: 0;
        width: 100%;
        color: rgb(215, 215, 215);
        background-color: rgba(0, 0, 0, 0.2) !important;

        &:hover {
            color: rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.1) !important;
        }
        
    }

    * {
        align-self: center;
    }

    &-icon {
        text-indent: 0;
        
        svg {
            height: 40px !important;
            width: 40px !important;
            flex-basis: 40px;
            vertical-align: -9.5px !important;
            scale: 0.8;
            position: relative;
            left: -1px;
        }
    }

    &-name {  
        white-space: nowrap;
        flex-grow: 1;
        flex-basis: 128px;
        font-size: 16px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }

    &-value {  
        white-space: nowrap;
        text-align: center;
        flex-basis: 128px;
        font-size: 16px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }

    &-persec {
        white-space: nowrap;
        text-align: right;
        flex-basis: 64px;
        font-size: 16px;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
    }
}