@import url('https://fonts.googleapis.com/css2?family=Geo:ital@1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*, button, .font-regular {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .sidebar-header, .font-special {
  font-family: 'Young Serif', serif;
}

.sidebar-folder-toggle > div, .font-tooltips {
  font-family: 'Geo', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #191919;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}