.show-mobile,
.show-tablet-down, .show-tablet, .show-tablet-up,
.show-desktop-down, .show-desktop, .show-desktop-up,
.show-widescreen {display: none !important}

.hide-mobile,
.hide-tablet-down, .hide-tablet, .hide-tablet-up,
.hide-desktop-down, .hide-desktop, .hide-desktop-up,
.hide-widescreen {display: block !important}

@media only screen and (min-width: 0px) and (max-width: 639px) {
    #root {
        min-width: 500px;
    }

    .show-mobile {display: block !important}
    .show-tablet-down {display: block !important}
    .show-desktop-down {display: block !important}

    .MuiGrid2-root.show-mobile {display: flex !important}
    .MuiGrid2-root.show-tablet-down {display: flex !important}
    .MuiGrid2-root.show-desktop-down {display: flex !important}

    .hide-mobile {display: none !important}
    .hide-tablet-down {display: none !important}
    .hide-desktop-down {display: none !important}

    #sidebar {
        opacity: 0 !important;
        transition: left 0.15s ease!important;

        &.mobile.visible {
            opacity: 1 !important;
        }
    }

    #weather-clock {
        font-size: 14px;
    }

    .MuiDialog-container {
        > .MuiPaper-root {
            position: absolute;
            bottom: 4% !important;
            margin-top: 0 !important;
            padding: 1% !important;
            width: 99% !important;
            min-width: 500px !important;
        }
    }
}

@media only screen and (min-width: 640px) and (max-width: 1023px) {
    .show-tablet-down {display: block !important}
    .show-tablet {display: block !important}
    .show-tablet-up {display: block !important}
    .show-desktop-down {display: block !important}

    .MuiGrid2-root.show-tablet-down {display: flex !important}
    .MuiGrid2-root.show-tablet {display: flex !important}
    .MuiGrid2-root.show-tablet-up {display: flex !important}
    .MuiGrid2-root.show-desktop-down {display: flex !important}

    .hide-tablet-down {display: none !important}
    .hide-tablet {display: none !important}
    .hide-tablet-up {display: none !important}
    .hide-desktop-down {display: none !important}
    
    #sidebar {
        &.expanded {
            width: 200px;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
    .show-tablet-up {display: block !important}
    .show-desktop-down {display: block !important}
    .show-desktop {display: block !important}
    .show-desktop-up {display: block !important}

    .MuiGrid2-root.show-tablet-up {display: flex !important}
    .MuiGrid2-root.show-desktop-down {display: flex !important}
    .MuiGrid2-root.show-desktop {display: flex !important}
    .MuiGrid2-root.show-desktop-up {display: flex !important}

    .hide-tablet-up {display: none !important}
    .hide-desktop-down {display: none !important}
    .hide-desktop {display: none !important}
    .hide-desktop-up {display: none !important}
}

@media only screen and (min-width: 1600px) {
    .show-tablet-up {display: block !important}
    .show-desktop-up {display: block !important}
    .show-widescreen {display: block !important}
    
    .MuiGrid2-root.show-tablet-up {display: flex !important}
    .MuiGrid2-root.show-desktop-up {display: flex !important}
    .MuiGrid2-root.show-widescreen {display: flex !important}

    .hide-tablet-up {display: none !important}
    .hide-desktop-up {display: none !important}
    .hide-widescreen {display: none !important}
    
    #sidebar {
        &.expanded {
            width: 400px;
        }
    }

    .MuiDialog-container {
        > .MuiPaper-root {
            padding: 1% !important;
            min-width: 600px !important;
            max-width: 1600px !important;
        }
    }
}