$fontsize-XS: 8px;
$fontsize-S: 11px;
$fontsize-M: 15px;
$fontsize-L: 20px;
$fontsize-XL: 26px;
$fontsize-XXL: 34px;

$fontface-regular: 'Roboto', sans-serif;
$fontface-special: 'Young Serif', serif;
$fontface-mono: 'Geo', sans-serif;

$text-light: #eee;
$text-dark: #111;

$border-light: #ffffff66;
$border-dark: #00000066;

$color-adventure-main: #c07f24;
$color-adventure-hover: #d09f5b;
$color-adventure-sidebar: #d8af76;

$color-archaeology-main: #f9eb97;
$color-archaeology-hover: #9c935e;
$color-archaeology-sidebar: #fbf2be;

$color-fishing-main: #005792;
$color-fishing-hover: #4081ad;
$color-fishing-sidebar: #80abc9;

$color-gathering-main: #3c8d42;
$color-gathering-hover: #6daa71;
$color-gathering-sidebar: #85b889;

$color-home-main: #888888;
$color-home-hover: #aaaaaa;
$color-home-sidebar: #bbbbbb;

$color-inventory-main: #694709;
$color-inventory-hover: #422c06;
$color-inventory-sidebar: #b4a384;

$color-mining-main: #5f40be;
$color-mining-hover: #30205f;
$color-mining-sidebar: #8770ce;

$color-queen-main: #c53c3c;
$color-queen-hover: #d46d6d;
$color-queen-sidebar: #db8585;

$color-pets-main: #e58eff;
$color-pets-hover: #8f599f;
$color-pets-sidebar: #efb8ff;

$color-tutorial-main: #3baea0;
$color-tutorial-hover: #6cc2b8;
$color-tutorial-sidebar: #9dd6d0;